body {
  background-image: url(../img/image_de_fond.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.box2 {
  float: center;
  background-image: url(../img/garcon2.png);
  margin: -200px auto 0;
  width: 80px;
  height: 70px;
  font-size: 240px;
  text-align: center;
  position: relative;
}

.monster {
  float: center;
  background-image: url(../img/zombie2.png);
  margin: -335px auto 0;
  width: 46px;
  height: 79px;
  font-size: 220px;
  text-align: center;
  position: relative;
  margin-left: 70%;
}

.box {
  border: 1px solid #c4c4c4;
  padding: 30px 25px 10px 25px;
  background: white;
  margin: 95px auto;
  width: 300px;
}
h1.box-logo a {
  text-decoration: none;
}
h1.box-title {
  color: black;
  background: #f8f8f8;
  font-weight: 300;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  text-align: center;
  margin: -27px -26px 26px;
}
.box-button {
  border-radius: 5px;
  background: rgb(19, 138, 68);
  text-align: center;
  cursor: pointer;
  font-size: 19px;
  width: 100%;
  height: 35px;
  padding: 0;
  color: #fff;
  border: 0;
  outline: 0;
  transition-duration: 0.4s;
}

p.box-button {
  padding-top: 2%;
}

.box-button:hover {
  background-color: #353535;
  color: white;
}

.box-register {
  text-align: center;
  margin-bottom: 0px;
}
.box-register a {
  text-decoration: none;
  font-size: 12px;
  color: #666;
}
.box-input {
  font-size: 14px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding-left: 10px;
  border-radius: 5px;
  width: 285px;
  height: 50px;
}
.box-input:focus {
  outline: none;
  border-color: #5c7186;
}
.sucess {
  text-align: center;
  color: white;
}
.sucess a {
  text-decoration: none;
  color: #58aef7;
}
p.errorMessage {
  background-color: #e66262;
  border: #aa4502 1px solid;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 3px;
}

.btn-box-button {
  border-radius: 5px;
  background: black;
  text-align: center;
  cursor: pointer;
  font-size: 19px;
  width: 350px;
  height: 51px;
  padding: 0;
  color: #fff;
  border: 0;
  outline: 0;
  transition-duration: 0.4s;
}

.btn-box-button:hover {
  background-color: #353535;
  color: white;
}

a.box-button {
  border-radius: 5px;
  background: rgb(173, 179, 175);
  text-align: center;
  cursor: pointer;
  font-size: 19px;
  width: 100%;
  height: 100%;
  padding: 0;
  color: #fff;
  border: 0;
  outline: 0;
  transition-duration: 0.4s;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  width: 80%;
  text-decoration: none;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus,
.btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-btn-outline-dark {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: red;
  color: white;
  margin-left: 85%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 8.3%;
}

.btn-btn-outline-dark:hover {
  color: #fff;
  background-color: green;
  border-color: #ffffff;
}

.box-fight {
  border: 1px solid #c4c4c4;
  padding: 30px 25px 10px 25px;
  background: rgb(255, 255, 255);
  width: 500px;
  height: 200px;
  margin-top: 25%;
  margin-left: 35%;
}

.btn-fight {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  width: 80%;
  text-decoration: none;
}

.btn-fight:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-btn-fight {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.3rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding-left: 10%;
  padding-right: 10%;
}
