.profile {

	width:350px;
	height:100px;
    background:#069;
}

.profile p{
    text-align: center;
}

.stats {

	width:300px;
	height:500px;
    background:#069;
    margin-top: 5%;
    margin-left: 84.5%;
}

.stats p{
    text-align: center;
}

.log {

	width:450px;
	height:200px;
    background:#069;
}

.log p{
    text-align: center;
}